/* Estilo base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  text-decoration: none;

  --background: #000;
  --color: #f1f1f1;
}

body {
  background: var(--background);
  color: var(--color);
}

/* Header */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 60px;
  background: var(--background);
  border-bottom: 1px solid #222;
  flex-wrap: wrap;
  gap: 15px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.5);
}

header .logo {
  font-weight: bold;
  color: #28a745;
}

header nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin: auto;
}

header nav a{
  margin: auto;
  color: var(--color);
  transition: ease-in-out 350ms;  
  font-size: large;
}

header nav a::after{
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin: 1.5px auto;
  transition: ease-in-out 350ms;
}

header nav a:hover::after{
  content: "";
  display: block;
  height: 2px;
  width: 70%;
  background-color: #14df0d;
}



header nav p:hover{
  color: #ffffff;
  transform: scale(1.15);
  transition: ease-in-out 350ms;
}

/* Botões */
.clean-car {
  background: #ec051cf5;
  display: none;
  padding: 5px;
  height: 50px;
  border: none;
  border-radius: 8px;
  color: var(--color);
  font-weight: bold;
  cursor: pointer;
  transition: ease-in-out 350ms;
}

.clean-car:hover {
  background: #ec051cb4;
}

.btn-green {
  background: #28a745;
  padding: 5px;
  height: 50px;
  border: none;
  border-radius: 8px;
  color: var(--color);
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.btn-green #car-count{
  position: absolute;
  right: -7px;
  bottom: -7px;
  font-size: x-large;
}

.btn-green:hover {
  background: #218838;
}


/* Hero */
.hero {
  display: flex;
  position: relative;
  height: 350px;
  padding: 40px; 
  overflow: hidden;
  background: linear-gradient(to right, #2196f3, #c3e3fd);
}

.hero h1{
  font-size: 48px;
  margin: auto 0;
}

.hero img{
  position: absolute;
  filter: drop-shadow(0 0 10px #000);
  right: -10%;
  bottom: 0;
}

/* Categorias */
.categorias {
  background: var(--color);
  padding: 60px;
  a{
    color: var(--background);
  }
}

.categorias .grid .card h3 {
  text-align: center;
}

.categorias .grid{
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.categorias .grid .card {
  display: flex;
  height: 250px;
  width: 250px;
  flex-direction: column;
  background: #f2f2f2;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.5);
  flex-grow: .4;
  gap: 10px;
  margin: 20px auto;
  border-radius: 12px;
  text-align: center;
  transition: ease-in-out 350ms;

  &:hover{
    transform: scale(1.02);
    box-shadow: 4px 4px 8px rgba(0,0,0,.5);
  }
}

.categorias .grid .card img{
    margin: auto;
    border-radius: 7px;
    height: 90%;
    width: 90%;
  }


/* Produtos */
.produtos {
  background: var(--color);
  color: var(--background);
  padding: 50px 60px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.5);
  a{
    color: var(--background);
  }
}



/* Promoções */
.promocoes {
  background: #000;
  padding: 60px;
  text-align: center;

  a{
    color: var(--color);
  }
}

.promocoes h2 {
  margin-bottom: 20px;
}

.promocoes h3 {
  color: #28a745;
  font-size: 32px;
  margin-bottom: 30px;
}

.promocoes .grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px 50px;
}

.promocoes .card {
  background: #111;
  padding: 80px 5px;
  flex-grow: 1;
  border-radius: 12px;
}

/* Footer */
footer {
  background: #000;
  border-top: 1px solid #222;
  text-align: center;
  padding: 50px;
  color: #aaa;
  margin-bottom: 0;
}
