/* Estilo base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  text-decoration: none;

  --background: #000;
  --color: #f1f1f1;
}

html{
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--color);
}

/* Header */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 60px;
  background: var(--background);
  border-bottom: 1px solid #222;
  flex-wrap: wrap;
  gap: 15px;
  box-shadow: 4px 4px 10px rgb(255, 255, 255);
}

header .logo {
  font-weight: bold;
  color: #28a745;
  display: flex;
  gap: 25px;
  align-items: center;
}

header nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

header nav a{
  margin: auto;
  color: var(--color);
  transition: ease-in-out 350ms;  
  font-size: large;
}

header nav a::after{
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin: 1.5px auto;
  transition: ease-in-out 350ms;
}

header nav a:hover::after{
  content: "";
  display: block;
  height: 2px;
  width: 70%;
  background-color: #14df0d;
}

header nav p:hover{
  color: #ffffff;
  transform: scale(1.15);
  transition: ease-in-out 350ms;
}

/* Botões */
.clean-car {
  background: #ec051cf5;
  display: none;
  padding: 5px;
  height: 50px;
  border: none;
  border-radius: 8px;
  color: var(--color);
  font-weight: bold;
  cursor: pointer;
  transition: ease-in-out 350ms;
}

.clean-car:hover {
  background: #ec051cb4;
}

.btn-green {
  background: #28a745;
  padding: 5px;
  height: 50px;
  border: none;
  border-radius: 8px;
  color: var(--color);
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.btn-green #car-count{
  position: absolute;
  right: -7px;
  bottom: -7px;
  font-size: x-large;
}

.btn-green:hover {
  background: #218838;
}


/* Hero */
.hero {
  display: flex;
  position: relative;
  height: 350px;
  padding: 40px; 
  overflow: hidden;
  background: linear-gradient(to right, #060e3a, #000f52);
  box-shadow: 2px 2px 4px #ffffff13;
}

.hero h1{
  font-size: 48px;
  margin: auto 0;
}

.hero img{
  position: absolute;
  filter: drop-shadow(0 0 10px #000);
  right: -10%;
  bottom: 0;
}

/* Categorias */
.categorias {
  background: linear-gradient(to bottom, #030924, #080911);
  padding: 60px;
  box-shadow: 2px 2px 4px #fffffff6;
  a{
    color: var(--color);
  }
}

.categorias .grid .card h3,p {
  text-align: start;
  margin-left: 20px;
  color: #218838;
}

.categorias .grid .card h4{
  text-align: start;
  margin-left: 20px ;
}

.categorias .grid{
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.categorias .grid .card {
  display: flex;
  min-height: 240px;
  width: 240px;
  flex-direction: column;
  background: #202022;
  padding: 15px 5px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.5);
  flex-grow: .2;
  margin: 20px auto;
  border-radius: 12px;
  text-align: center;
  transition: ease-in-out 350ms;

  &:hover{
    transform: scale(1.02) rotate(6deg);
    box-shadow: 4px 4px 20px 7px rgba(15, 110, 2, 0.973);
  }

  a{
    color: #28a745;
  }
}

.categorias .grid .card img{
    margin: auto;
    border-radius: 7px;
}


/* Produtos */
.produtos {
  background: linear-gradient(to bottom, #080911, #000000);
  color: var(--background);
  padding: 50px 60px;
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.404);
  
  a{
    color: var(--color);
  }
}

.produtos .grid{
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.produtos .grid .card {
  min-height: 360px;
  width: 340px;
  flex-direction: column;
  background: #202022;
  padding: 15px 4px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.5);
  flex-grow: .5;
  gap: 10px;
  margin: 20px auto;
  border-radius: 12px;
  text-align: center;
  transition: ease-in-out 350ms;

  &:hover{
    transform: scale(1.02) rotate(-6deg);
    box-shadow: 4px 4px 20px 7px rgba(15, 110, 2, 0.973);
  }

  a{
    color: #28a745;
  }
}

.produtos .grid .card h3{
  margin: 10px auto;
  font-size: 20px;
  color: var(--color);
}

.produtos .grid .card img{
    margin: auto;
    border-radius: 8px;
    height: 70%;
    width: 70%;
}

.produtos .grid .card p{
    font-size: 18px;
    color: #14df0d;
    font-weight: bold;
}

.produtos .grid .card .describe{
  display: flex;
  justify-content: space-around;
}

.btn-car{
  padding: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #28a745;
  background-image: url('./assets/carrinho.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none; 
  border-radius: 8px;
}



/* Promoções */
.promocoes {
  background: #000;
  padding: 60px;
  text-align: center;
  box-shadow: 2px 2px 4px #ffffffe8;

  a{
    color: var(--color);
  }
}

.promocoes h2 {
  margin-bottom: 20px;
}

.promocoes h3 {
  color: #28a745;
  font-size: 32px;
  margin-bottom: 30px;
}

.promocoes .grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px 50px;
}

.promocoes .grid .card {
  display: flex;
  background: #111;
  padding: 80px 40px;
  flex-grow: 1;
  flex-direction: column;
  border-radius: 12px;
  gap: 15px;
}

.promocoes .grid .card:hover {
  transform: scale(1.03) translateY(-10px);
  box-shadow: 2px 2px 25px 10px rgba(15, 110, 2, 0.411);
  transition: ease-in-out 350ms;
}

/* Footer */
footer {
  background: #000;
  border-top: 1px solid #222;
  text-align: center;
  padding: 50px;
  color: #aaa;
  margin-bottom: 0;
}


/* Media Queries */
@media (max-width: 768px) {
  header {
    flex-direction: row;
    flex-wrap: wrap;
    nav{
      gap: 0px;
    }
  }

  .hero {
    img{
      display: none;
    }
  }
}
